body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #101010;
  color: white;
  min-height: 100vh;
}

ul:where([class]) {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  min-height: 100%;
  grid-template-columns: clamp(240px, 26vw, 400px) 1fr clamp(240px, 26vw, 400px);
  grid-gap: 2rem;
  padding: 1rem;
}

.CharacterSheet {
  position: relative;
  padding: 2rem;
  border: 1px solid #ccc;

  h2 {
    margin-block-start: 0;
    text-align: center;
  }

  h3 {
    margin-block-start: 0;
    border-block-end: 1px solid #ccc;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
  }

  &::before {
    inset-block: 32px;
    inset-inline: -8px;
    border-inline-width: 1px;
  }

  &::after {
    inset-block: -8px;
    inset-inline: 64px;
    border-block-width: 1px;
  }

  img {
    max-width: 100%;
  }
}

.Modules {
  position: relative;
  display: grid;
  grid-gap: 4px;
  grid-template: 
    "heading heading heading" auto 
    "equipment image armaments" 1fr 
    / 64px 1fr 64px;
}

.Modules h3 {
  grid-area: heading;
}

.Modules img {
  grid-area: image;
}

.Modules-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  list-style: none;
  overflow: auto;
}

.Modules-list--equipment {
  grid-area: equipment;
}

.Modules-list--armaments {
  grid-area: armaments;
}

.Modules-list > li {
  display: contents;
}

.Module {
  align-content: center;
  background-color: #333;
  text-align: center;
  aspect-ratio: 1/1;
  width: 64px;
}

.StatusBar {
  display: flex;
}